<div class="text-center">
    <a href="/Roles/Lawyer" class="btn btn-primary">Lawyer</a>

    <a href="/Roles/Judge" class="btn btn-primary">Judge</a>

    <a href="/Roles/Witness" class="btn btn-primary">Witness</a>

    <a href="/Roles/Defendant" class="btn btn-primary">Defendant</a>

    <a href="/Roles/MemberOfJury" class="btn btn-primary">Member of Jury</a>

    <a href="/Roles/Prosecutor" class="btn btn-primary">Prosecutor</a>

    <a href="/Roles/Guard" class="btn btn-primary">Guard</a>
</div>