<div class="text-center">
    <a asp-controller="Roles" asp-action="Lawyer" class="btn btn-primary">Lawyer</a>

    <a asp-controller="Roles" asp-action="Judge" class="btn btn-primary">Judge</a>

    <a asp-controller="Roles" asp-action="Witness" class="btn btn-primary">Witness</a>

    <a asp-controller="Roles" asp-action="Defendant" class="btn btn-primary">Defendant</a>

    <a asp-controller="Roles" asp-action="JuryMember" class="btn btn-primary">JuryMember</a>

    <a asp-controller="Roles" asp-action="Prosecutor" class="btn btn-primary">Prosecutor</a>

    <a asp-controller="Roles" asp-action="Guard" class="btn btn-primary">Guard</a>
</div>