<div class="text-center">

    <div>
        <a asp-controller="Roles" asp-action="Lawyer" class="btn btn-outline-secondary col-md-10 offset-1">Lawyer</a>
    </div>

    <div>
        <a asp-controller="Roles" asp-action="Judge" class="btn btn-outline-secondary col-md-10 offset-1">Judge</a>
    </div>

    <div>
        <a asp-controller="Roles" asp-action="Witness" class="btn btn-outline-secondary col-md-10 offset-1">Witness</a>
    </div>

    <div>
        <a asp-controller="Roles" asp-action="Defendant" class="btn btn-outline-secondary col-md-10 offset-1">Defendant</a>
    </div>

    <div>
        <a asp-controller="Roles" asp-action="JuryMember" class="btn btn-outline-secondary col-md-10 offset-1">JuryMember</a>
    </div>

    <div>
        <a asp-controller="Roles" asp-action="Prosecutor" class="btn btn-outline-secondary col-md-10 offset-1">Prosecutor</a>
    </div>

    @*<a asp-controller="Roles" asp-action="Guard" class="btn btn-primary">Guard</a>*@
</div>